# 実行によって生成されるフラグファイルを無視
flag*.txt

# Rust のビルドディレクトリ
target/

# Jupyter Notebook の一時保存・キャッシュ
.ipynb_checkpoints/
Untitled.ipynb

# Added by cargo
/target

# 各問題のリソース
06/ksnctf_q6/
07/program.cpp
08/q8.pcap
09/q9.pcap
14/dicti0nary_8Th64ikELWEsZFrf.txt
15/Jewel/
15/jad158g.win/
15/Jewel.apk
15/jewel_c.png
15/decrypted_jewel.png
18/drive/
18/drive.img
18/drive.zip
19/flag.zip
19/Standard-lock-key.jpg
19/decrypted.zip
21/encrypt/
21/encrypt.zip
24/rightsout.exe
27/livesout.exe
27/livesout.sln
27/livesout.v12.suo
28/secret/
28/secret.zip
28/result_flag.png
29/paper.docx
39/bkcrack-1.8.1-win64/
39/flag_decrypted/
39/flag.zip
39/flag_decrypted.zip
41/pbbs/
41/pbbs.zip
